@import "fonts";
@import "colors";

* {
  margin: 0;
  padding: 0;

  font-family: "Comfortaa";
}

::selection {
  background: map_get($accent-palette, 500);
  color: #ffffff;
}

::-moz-selection {
  background: map_get($accent-palette, 500);
  color: #ffffff;
}

::-webkit-selection {
  background: map_get($accent-palette, 500);
  color: #ffffff;
}
